.card {
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px 0 rgba(0,0,0, 0.10);
    padding: 15px;
    margin: 30px auto;
    max-width: 800px;
}

.card__header {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
}

.card__title {
    font-size: 1.5em;
    cursor: pointer;
}

.card__tag {
    display: inline-flex;
    margin-right: 10px;
    color: crimson;
}

.card__button {
    background: none;
    border: none;
    cursor: pointer;
    font-weight: bold;
    color: red;
}

.card__button:hover {
    color: #000;
}

.card__info {
    text-align: start;
    margin: 0 25px;
}